body{
  width: 80%;
  margin: 50px auto;
  font-family: 'assistant', sans-serif;
}

.flex{
  display: flex;
  justify-content: space-between;
}

.flex-col{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.screen{
  margin: 25px;
  padding: 10px;
  background: lightblue;
  width: 100%;
  border: 2px dashed black;
}

.travel-item{
  direction: ltr;
  display: flex;
  padding: 5px;
  justify-content: space-evenly;
}

.travel-item > div{
  width: 25%;
}
.list-header{
  text-decoration: underline;
}

label{
  display: inline-block;
  width: 100px;
  margin-bottom: 10px;
}
